<nav class="navbar navbar-default navbar-static-top" id="navbarTop">

    <div class="container">
        <button type="button" class="navbar-toggle"
                data-toggle="collapse"
                data-target=".navbar-collapse">

            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="http://www.matf.bg.ac.rs/"><img src="{{ asset('bundles/img/matf.png') }}" class="img-responsive"
                                                                      id="slikaMatf"/>
        </a>

    </div>


    <div class="navbar-collapse collapse" id="navbarCollapse">
        <ul class="nav navbar-nav navbar-right">
            <li class=""><a id="home" href= "{{ path('homepage') }}"> ПОЧЕТНА </a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" id="dropdown"
                   data-toggle="dropdown">MАТФ++
                    <span class="caret"> </span></a>

                    <ul class="dropdown-menu">
                        <li><a href="http://takmicenja.math.rs/matf16/index.html"> МАТФ2016 </a></li>
                        <li><a href="http://takmicenja.math.rs/matf15/index.html"> MATФ2015 </a></li>
                    </ul>
            </li>
        </ul>
    </div>
</nav>