{% extends "::base.html.twig" %}
{% block title %}Такмичења{% endblock %}

{% block body %}
    <h1>Приказ свих такмичења</h1>
    <table class="table table-bordered">
        <thead>
        <td>Догађај</td>
        <td>Категорија</td>
        <td>Број слободних места</td>
        </thead>
        <tbody>
        {% for takmicenje in takmicenja %}
            <tr>
                <td>{{ takmicenje.dogadjaj.ime }}</td>
                <td>{{ takmicenje.kategorija.naziv  }}</td>
                <td>{{ takmicenje.brojSlobodnihMesta }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
