{% extends "::base.html.twig" %}
{% form_theme form 'theme/bootstrap_3_horizontal_layout.html.twig' %}
{% block title %}Ново такмичење{% endblock %}

{% block body %}
    <h1>Додај ново такмичење</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
