{% extends 'AppBundle:Admin:admin_base.html.twig' %}
{% block body %}
    <div class="container">

        <div class="col-sm-4">
            <h3 style="color:#FFFFFF; background-color: #b30000; font-size:130%;">>>
                <a class="linkovi" style="color:#FFFFFF; text-decoration:none" href="{{ path('registruj_korisnika') }}"> Региструј</a>
            </h3>
            <p>Региструј члана комисије
            </p>
        </div>

        <div class="col-sm-4">
            <h3 style="color:#FFFFFF; background-color: #b30000; font-size:130%;">>>
                <a class="linkovi" style="color:#FFFFFF; text-decoration:none" href="{{ path('kategorija_sve') }}"> Постојеће категорије</a>
            </h3>
            <p>Уређивање и преглед категорија
            </p>
        </div>

        <div class="col-sm-4">
            <h3 style="color:#FFFFFF; background-color: #b30000; font-size:130%;">>>
                <a class="linkovi" style="color:#FFFFFF; text-decoration:none" href="{{ path('dogadjaj_sve') }}"> Постојећи догађаји</a>
            </h3>
            <p>Уређивање и преглед догађаја
            </p>
        </div>


    </div>
    </div>
{% endblock %}