#registracija{
    text-align:right;
    margin-top:100px;
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
    width:450px;
    border-radius: 10px;
}

#registracija input {

 margin-right: 50px;
    margin-top:5px;

}
#registracija label {
    float: left;
    margin-right: 5px;
    margin-top:5px;
}

#dugmeRegistracija{
    margin-top:10px;
}

#registracija select {
    margin-right: 50px;
    margin-top:5px;
}