{% extends 'AppBundle:Admin:admin_base.html.twig' %}

{% form_theme form 'theme/bootstrap_3_layout.html.twig' %}

{% block title %}Нови коментар{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}