{% extends 'AppBundle:Admin:admin_base.html.twig' %}
{% form_theme form 'theme/bootstrap_3_horizontal_layout.html.twig' %}
{% block title %}Измена  рада{% endblock %}

{% block body %}
    <h1>Измени рад</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
