{% extends 'base.html.twig' %}
{% form_theme form 'theme/bootstrap_3_layout.html.twig' %}


{% block body %}
    <div class="container" id="forma" style="width: 500px;">
    {{ form_start(form, {'multipart': true}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            var $takmicenje = $('#appbundle_prijava_takmicenje');

            $takmicenje.change(function () {
                var $form = $(this).closest('form');
                var data = {};

                data['id'] = $takmicenje.val();

                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    data: data,
                    success: function (html) {
                        $('#appbundle_prijava_tim').replaceWith(
                            $(html).find('#appbundle_prijava_tim')
                        );
                        $('.captcha_image').replaceWith(
                            $(html).find('.captcha_image')
                        );
                    }
                });
            });
        })
    </script>
{% endblock %}